@use "../../utils/" as *;

.services-section-container {
  @include flexContainer(column);
  padding: 1rem;
  @include primaryFont(black, 1rem, 400);
  background-image: url("../images/bgshape1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include md {
    font-size: 1.3rem;
  }
  .service-section-heading {
    @include headingFont(white, 2rem);
    align-self: flex-start;
    margin-bottom: 1.5rem;
    @include md {
      font-size: 4rem;
    }
  }
  .homepage-service-section-introduction-container {
    @include flexContainer(row);
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1.5rem;
    @include lg {
      margin-bottom: 3rem;
    }
    .services-section-gonzo-container {
      display: none;
      @include md {
        display: block;
        width: 30rem;
      }
    }
    .homepage-service-section-introduction-text {
      @include primaryFont(black, 1rem, 900);
      @include md {
        width: 50%;
        font-size: 1.3rem;
      }
      @include lg {
        width: 40%;
      }
      @include xl {
        width: 30%;
      }
    }
  }
  .service-cards-section-container {
    @include flexContainer(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    .service-info-card-container {
      @include flexContainer(column);
      justify-content: space-around;
      margin: 1.5rem auto;
      width: 16rem;
      height: 25rem;
      @include md {
        height: 31rem;
      }
      .service-info-card-title {
        @include headingFont(black, 1rem);
        text-align: center;
        margin: 1rem 0;
        @include md {
          font-size: 1.3rem;
        }
      }
      .service-info-card-link {
        @include headingFont(black, 1rem);
        padding: 0.35em 0.7em;
        text-align: center;
        background-color: $accent-clr2;
        margin-top: 1rem;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: $accent-clr;
          transform: translateX(-410px);
          transition: all ease-in-out 1s;
          z-index: -1;
        }
        &:hover,
        &:focus {
          &::before {
            width: 100%;
            height: 100%;
            animation: btnSlideRight linear 0.5s 0s forwards;
          }
        }
        @include md {
          font-size: 1.3rem;
        }
      }
    }
  }
}
